# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [5]:
import pandas as pd
import numpy as np

In [11]:
import numpy as np
p = pd.DataFrame({'country': ['Taiwan', 'US', 'UK', 'Japan', 'Korea'], 
                'population': np.random.randint(10000,size=5)})
p

  country  population
0  Taiwan        2631
1      US        9121
2      UK        5005
3   Japan         621
4   Korea        8094

In [13]:
#p.max()
p.describe()

        population
count     5.000000
mean   5094.400000
std    3581.157187
min     621.000000
25%    2631.000000
50%    5005.000000
75%    8094.000000
max    9121.000000